.call-options {
  padding: 4em 0;
  
}
.call{
  /* border:2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002049;
  height: 8.5vh;
  width: 11vw;
  position: absolute;
  top:700px;
  right: 100px;
  z-index: 9999;
  border-radius: 20px;
}